<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}"/>
</head>
<body>
    <form method="post">
        <p th:text="${name}"/>
        <input name="name" placeholder="Место под имя"/>
        <br>
        <br>
        <input name="lastname" placeholder="Место под фамилию"/>
        <br>
        <br>
        <input name="streetName" placeholder="Место под имя улицы"/>
        <br>
        <br>
        <input name="houseNumber" placeholder="Место под номер дома"/>
        <br>
        <br>
        <button>Отправить</button>
    </form>
</body>
</html>