<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую запись</title>
</head>
<body>
<form method="post">
    <p> Ведите данные</p>
    <input name="name" placeholder="Место под имя"/>
    <br>
    <br>
    <input name="lastname" placeholder="Место под фамилию"/>
    <br>
    <br>
    <input name="streetName" placeholder="Место под имя улицы"/>
    <br>
    <br>
    <input name="houseNumber" placeholder="Место под номер дома"/>
    <br>
    <br>
    <button>Отправить</button>
</form>
</body>
</html>